.abs-cnt-decorate {
    display: block;
}
.abs-decorate {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    @media #{$mobile} {
        flex-wrap: wrap;
        flex-direction: column;
    }

    & > div {
        width: 50%;

        @media #{$mobile} {
            width: 100%;
        }
    }

    &__image {
        position: relative;
        overflow: hidden;

        @media #{$mobile} {
            width: 100%;
            padding-bottom: 56%;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include translate(-50%, -50%);
        }
    }

    &__text {
        padding: 10rem;

        @media #{$desktop-xlarge} {
            padding: 5rem;
        }

        @media #{$mobile} {
            padding: 2.5rem;
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;

        @media #{$mobile} {
            flex-direction: row;
        }
    }
}

.abs-cnt {
    @extend .row-padding--large;
    background-image: url(../img/bg-abs.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-repeat: repeat-y;
}

.abs {
    display: flex;
    align-items: center;
    flex-direction: row;
    @extend .row-padding--small;

    & > div {
        width: 50%;
    }
    
    &__text {
        padding: 8rem;

        @media #{$tablet} {
            padding: 5rem;
        }
    }

    &__image {
        position: relative;
        padding-right: 8rem;

        @media #{$tablet} {
            padding-right: 5rem;
        }

        &__content {
            position: relative;
            width: 100%;
            padding-bottom: 56%;
            background-color: $color-grey-light;
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                @include translate(-50%, -50%);
                @include transition(all 2s);
            }
        }

        &:after {
            content: '';
            position: absolute;
            width: 18.5rem;
            height: 2.5rem;
            top: -2.5rem;
            left: 5rem;
            background-color: $color-grey;
            @include transition(all 2s);
            @include translate(100%, 0%);

            @media #{$tablet} {
                width: 15rem;
                height: 1.75rem;
            }
        }
        &:before {
            content: '';
            position: absolute;
            width: 18.5rem;
            height: 2.5rem;
            bottom: -2.5rem;
            left: 5rem;
            background-color: $color-grey;
            @include transition(all 2s);
            @include translate(100%, 0%);

            @media #{$tablet} {
                width: 15rem;
                height: 1.75rem;
            }
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;

        .abs__image {
            padding-left: 8rem;
            padding-right: 0rem;

            @media #{$tablet} {
                padding-left: 5rem;
            }
        }

        .abs__image::after,
        .abs__image::before {
            left: auto;
            right: 5rem;
            @include translate(-100%, 0%);
        } 
    }

    &.active {
        .abs__image {
            &::after,
            &::before {
                @include transition(all 2s);
                @include translate(0%, 0%);
            }

            &__content {
                img {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                    @include transition(all 2s);
                }
            }
        }
    }

}

.abs-slider {
    @extend .row-padding--large;
    margin: 0.75rem;
    background-color: $color-grey-xlight;

    &__text {
        @extend .font-small;
        padding: 2.5rem 3rem 0rem 3rem;
    }
}

.animate-gs {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.animate-gs-active  {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    @include transition(all 4s);
}