@include swipebox();

.footer {
    padding: 5rem 5rem 15rem 5rem;
    background-color: $color-grey;
    color: $color-white;
    display: block;
    text-align: center;
    
    @media #{$mobile} {
        padding: 2.5rem 2.5rem 7.5rem 2.5rem;
    }

    a {
        color: $color-white;
        text-decoration: underline;
    }

    h3 {
        color: $color-white;
    }

    &__logo {
        text-align: center;

        img {
            display: inline-block;
            height: 12rem;
            width: auto;

            @media #{$desktop} {
                height: 9rem;
                padding-right: 3rem;
            }

            @media #{$mobile} {
                display: inline-block;
                padding: 0rem;
            }
        }
    }

    &__text {
        @extend .font-small;
        padding: 0rem 5rem;
        
        @media #{$desktop} {
            padding: 0rem 3rem;
        }

        @media #{$mobile} {
            width: 100%;
            border: none;
            padding: 2.5rem 0rem;
        }

        h3 {
            @extend .font-base;
        }
    }

    &__menu {
        
        padding-top: 2rem;
        
        ul {
            @extend .font-small;
            list-style-type: none;
            list-style-position: inside;

            li {
                display: inline-block;
                padding: 0.25rem 1rem;
                text-transform: uppercase;
            }

            a {
                color: $color-white;
                text-decoration: none;
                padding: 0.25 0.5rem;
                 
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__social {
        @extend .font-base;
        a {
            display: inline-block;
            color: $color-white;
            padding-right: 0.75rem;
        }
    }
}

.footer-mobile {
    display: none;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    color: $color-white;
    background-color: $color-grey;
    padding: 1.25rem 2rem;
    z-index: 110;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    
    a {
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: $color-white;
        padding-right: 2rem;

        &.book {
            padding-right: 0rem;
            font-weight: 600;
        }
    }

    @media #{$mobile} {
        display: flex;
    }
}

.divascookies {
    left: 0rem;
    width: 100%;
}

.divascookies-banner-container {
    border-top: none;
    
    .divascookies-policy-link a,
    a {
        color: $color-white;
        text-decoration: underline;
    }
    
    .divascookies-accept-button-container {
        & > .divascookies-accept-button-text {
            background-color: $color-white;
            color: $color-black;
        }    
    }
}