.form-qr {
    
    @extend .font-small;

    & > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        & > div {
            flex-grow: 1;
        }
    }
    
    &__field {
        position: relative;
        text-align: center;
        padding: 1rem;
        background-color: $color-white;
        margin-top: 1.2rem;
        margin-left: 0.4rem;

        @media #{$desktop} {
            padding: 1.75rem;
        }
        
        &:first-child {
            margin-left: 0rem;
        }

        &__title {
            @extend .font-fields;
            position: absolute;
            display: inline-block;
            box-sizing: border-box;
            width: 2.4rem;
            height: 2.4rem;
            padding: 0.45rem 0rem;
            background-color: $color-white;
            top: -1.2rem;
            left: 50%;
            text-transform: uppercase;
            @include border-radius(50%);
            @include translate(-50%, 0rem);
        }

        p {
            font-size: 4rem;
            line-height: 4rem;
            min-width: 5rem;
            padding: 0rem;
        }

        label {
            @extend .font-fields;
            text-transform: uppercase; 

            span {
                display: block;
            }
        } 
    }
    
    &__button {
        @extend .font-base;
        width: 100%;
        margin-top: 0.4rem;
        
        a {
            display: block;
            background-color: $color-red;
            color: $color-white;
            text-align: center;
            text-transform: uppercase;
            padding: 1.4rem;
            
            &:hover {
                background-color: $color-grey;
            }
        }
    }
}

.form-hide {
    max-height: 40rem;
    overflow: hidden;
    @include transition(max-height 2s);
}

.as-hidden {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

#ui-datepicker-div {
    font-size: 1rem;
    line-height: 1rem;
}

.form-generic {
    
    ul {
        list-style-type: none;
    }
    
    background-color: none;
    
    form {
        max-width: 40rem;
        margin: 0 auto;
    }
    
    label {
        display: inline-block;
        box-sizing: border-box;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-transform: uppercase;
        text-align: left;
    }
    
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="file"],
    select,
    textarea {
        @extend .font-base;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-bottom: 1px solid $color-grey;
        font-family: $font-base;
        background: none;
        
        &:focus {
            border-bottom: 1px solid $color-black;
        }
    }
    
    select,
    textarea {
        height: 2rem;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
    }
    
    input[type="checkbox"] {
        position: absolute;
        top: 2rem;
        left: 0rem;
    }
    
    input[type="submit"] { 
        @extend .button;
        @include border-radius(0rem);
        color: $color-white;
        background: $color-black;
        padding: 1rem 2rem;
        margin-top: 1rem;
        text-transform: uppercase;
        border: none;
        
        @media #{$mobile} {
            width: 100%;
        }
    }
    
    .privacy_div {
        position: relative;
        padding-top: 1rem;
    }
}
