*,
input:required,
input:invalid {
   outline: 0;
   box-shadow: none !important;
   margin: 0px;
   padding: 0px;
}

@include placeholder {
    color: $color-grey;
}

p {
    line-height: inherit;
    padding: 0.5rem 0rem;
    
    &:empty {
        padding: 0rem;
        height: 0rem;
    }
    
    @media #{$mobile} {
        padding: 0.25rem 0rem;    
    }
}

ul {
    list-style-position: inside;
}

p:empty {
    display: none;
}

html {
    font-size: 10px;
    min-height: 100%;

    overflow-x: hidden;
}

body {
    @extend .font-base;
    min-height: 100%;
    background-color: $color-white;
    color: $color-grey-light;
    padding: 0rem;

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $color-black;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
    
    &.no-margin {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

.forceclear {
    clear: both;
    height: 0px;
    overflow: hidden;
}

.relative {
    position: relative;
}

.full-size-abs {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
}

.img-full-width {
    width: 100%;
    height: auto;
    display: block;
}

.img-bordered {
    @include border-radius(0.5rem);
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.button {
    position: relative;
    display: inline-block;
    color: $color-white;
    background-color: $color-grey;
    white-space: nowrap;
    padding: 2rem 6rem;
    text-transform: uppercase;
    @include transition(all 0.5s);

    @media #{$tablet} {
        padding: 1.25rem 4rem;
    }
    
    &:hover {
        background-color: $color-red;
    }
}

.no-border {
    border: none !important;
}

.row-padding {
    &--small {
        padding-top: $row-padding-small;
        padding-bottom: $row-padding-small;
        
        @media #{$mobile} {
            padding-top: $row-padding-small-mobile;
            padding-bottom: $row-padding-small-mobile;
        }
    }
    &--large {
        padding-top: $row-padding-large;
        padding-bottom: $row-padding-large;
        
        @media #{$mobile} {
            padding-top: $row-padding-large-mobile;
            padding-bottom: $row-padding-large-mobile;
        }
    }
}

.row-padding-top {
    &--xsmall {
        padding-top: $row-padding-small-mobile;
    }
    &--small {
        padding-top: $row-padding-small;
        
        @media #{$mobile} {
            padding-top: $row-padding-small-mobile;
        }
    }
    &--large {
        padding-top: $row-padding-large;
        
        @media #{$mobile} {
            padding-top: $row-padding-large-mobile;
        }
    }
}

.row-padding-bottom {
    &--small {
        padding-bottom: $row-padding-small;
        
        @media #{$mobile} {
            padding-top: $row-padding-small-mobile;
        }
    }
    &--large {
        padding-bottom: $row-padding-large;
        
        @media #{$mobile} {
            padding-bottom: $row-padding-large-mobile;
        }
    }
}

.row-margin-top {
    &--small {
        margin-top: $row-padding-small;
        
        @media #{$mobile} {
            margin-top: $row-padding-small-mobile;
        }
    }
    &--large {
        margin-top: $row-padding-large;
        
        @media #{$mobile} {
            margin-top: $row-padding-large-mobile;
        }
    }
}

.boxed-size {
    width: 100%;
    margin: 0 auto;
    padding: 0px 5rem;
    box-sizing: border-box;
    
    @media #{$mobile} {
        padding: 0px 1.6rem;
    }
    
    &:after {
        @extend .forceclear;
    }
}

.after-clear {
    &:after {
        content: "";
        display: block;
        clear: both;
    }    
}

.bg-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}