body {
    &.loaded {
        .header-banner {
            @include translate(0rem, 0rem);
            @include transition(all 1s);
        }
        
        .header-slider {
            @include translate(0rem, 0rem);
            @include transition(all 1s);
        }
    }

    &.scrolled {
        .header-bar {
            background-color: rgba($color-grey, 1);
            @include transition(background-color 1s);
        }

        .form-hide {
            max-height: 0rem;
            overflow: hidden;
            @include transition(max-height 1s);
        }

        .header-form {
            padding: 1.5rem;
            @include translate(-50%, -1.5rem);
            @include transition(all 1s);
        }

        .header-logo {
            position: fixed;
            top: 2rem;
            height: 5rem;
            
            img {
                @include translate(0rem, -11rem);
            }
        }

        .header-banner {
            @media #{$mobile} {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &.menu {
        .header-menu {
            @include translate(100vw, 0rem);
            @include transition(all 1s);
            ul {
                @include translate(0rem, 0rem);  
                @include transition(all 2s);

                &.submenu {
                    @include translate(0rem, 100%);    
                }
            }
        }

        .header-bar {
            background-color: rgba($color-red, 1);
            @include transition(background-color 1s);
        }

        .header-logo {
            position: fixed;
            top: 2rem;
            height: 5rem;
            @include transition(all 1s);

            img {
                @include translate(0rem, -11rem);
            }
        }

        .form-hide {
            max-height: 0rem;
            overflow: hidden;
            @include transition(max-height 1s);
        }

        .header-form {
            padding: 1.5rem;
            @include translate(-50%, -1.5rem);
            @include transition(all 1s);
        }
    }
}

.header-slider {
    position: relative;
    background-color: $color-white;
    border-bottom: 1px solid $color-white;
    width: 100%;
    height: calc(100% - 8rem);
    overflow: hidden;
    
    &.compact {
        height: 30vw;
    }

    @media #{$mobile} {
        height: 100vw;
    }

    &__slides {
        position: absolute !important;
        @extend .full-size-abs;
    }
    
    &__slide {
        position: relative;
        width: 100%;
        height: 100%;
        
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.header-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 15rem 5rem 7.5rem;
    top: 0rem;
    left: -100vw;
    z-index: 80;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $color-red;
    @include translate(0rem, 0rem);
    @include transition(all 1s);
    
    & > div {
        display: flex;

        @media #{$tablet} {
            flex-direction: column;
        }
    }
    
    ul {
        @extend .font-menu;
        position: relative;
        display: block;
        list-style-type: none;
        list-style-position: inside;
        @include translate(-100vw, 0rem);
        @include transition(all 0.5s);

        li {
            display: block;
            padding: 0.25rem 0rem;
            text-align: center;

            .smtoggler {
                width: 2.5rem;
                cursor: pointer;

                @media #{$mobile} {
                    text-align: right;
                }

                i {
                    font-size: 1.5rem;
                    color: $color-white;
                    font-weight: bold;
                    @include transition(all 1s);

                    @media #{$mobile} {
                        font-size: 1rem;
                    }
                }
            }

            a {
                display: inline-block;
                color: $color-white;
                &.active,
                &:hover {
                    text-decoration: underline;
                }
            }

            &.active {
                .submenu {
                    opacity: 1;
                    @include translate(0rem, -50%);
                    @include transition(all 1s);
                }

                .smtoggler {
                    i {
                        @include rotate(45deg);
                        @include transition(all 1s);
                    }
                }
            }
        }

        .submenu {
            position: absolute;
            top: 50%;
            right: 0rem;
            width: 40%;
            opacity: 0;
            padding: 0rem 2rem;
            @include translate(0rem, 100%);
            @include transition(all 0.5s);

            @media #{$mobile} {
                padding: 0rem 1rem;
            }
        }

        &.submenu li {
            width: 100%;
        }
    }
}

.header-hamburger {
    display: inline-block;
    padding-right: 3.5rem;
    border-right: 1px solid rgba($color-white, 0.5);

    .hamburger {
        padding: 0rem !important;
    }

    .hamburger-box {
        width: 4.25rem;
        height: 2.5rem;
        display: inline-block;
        vertical-align: middle; 
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 4.25rem;
        height: 0.48rem;
        background-color: $color-white;
    }

    label {
        display: block;
        width: 100%;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 1rem;
        text-align: center;
        color: $color-white;
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}

.header-bar {
    @extend .font-small;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    padding: 2rem 5rem;
    color: $color-white;
    background-color: rgba($color-grey, 0);
    z-index: 90;
    @include transition(background-color 1s);
    
    & > div {
        display: inline-block;
        vertical-align: top;
    } 

    @media #{$mobile} {
        padding: 2rem;
    }

    &__top {
        @media #{$mobile} {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}

.header-logo {
    position: absolute;
    top: 6rem;
    left: 50%;
    z-index: 99;
    overflow: hidden;
    @include translate(-50%, 0rem);

    img {
        display: block;
        height: 16rem;
        width: auto;
    }
}

.header-form {
    position: fixed;
    bottom: 0rem;
    left: 50%;
    padding: 2.5rem;
    color: $color-black;
    background-color: rgba($color-white, 0.7);
    text-align: center; 
    z-index: 110;
    @include translate(-50%, 0rem);
    @include transition(all 1s);

    @media #{$mobile} {
        display: none;
    }
}

.language-switcher {
    @extend .font-small;
    margin-left: 2rem;
    margin-top: 0.5rem;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    border: 1px solid rgba($color-white, 0);
    z-index: 100;
    cursor: pointer;

    i {
        display: inline-block;
        vertical-align: top;
        line-height: 1rem;
    }
    
    a {
        color: $color-white;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        display: inline-block;
        min-width: 5rem;
        
        &:hover {
            color: $color-red;
        }
    }

    &__select {
        position: absolute;
        top: 0rem;
        background-color: rgba($color-grey, 0);
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        @include transition(all 0.5s);

        ul {
            list-style-type: none;
            list-style-position: inside;
            
            li {
                display: block;
                text-align: center;
                border-top: 1px solid rgba($color-white, 0.5);

                &:first-child {
                    border: none;
                }

                &.empty {
                    padding: 0.5rem 1.5rem;

                    @media #{$mobile} {
                        background-color: transparent;
                    }
                }

                @media #{$mobile} {
                    background-color: $color-grey;
                }
            }
        }
    }
    &:hover {
        .language-switcher__select {
            border: 1px solid rgba($color-white, 0.5);
            background-color: rgba($color-black, 0.5);
            max-height: 30rem;
            @include transition(all 0.5s);
        }
    }
}

.header-banner {
    @extend .font-small;
    position: fixed;
    top: 2rem;
    right: 5rem;
    background-color: rgba($color-black, 0);
    border: 1px solid rgba($color-white, 0.5);
    color: $color-white;
    background: none;
    padding: 1.25rem 1.5rem;
    z-index: 99;
    @include transition(all 0.5s);

    @media #{$tablet} {
        top: 1rem;
        max-width: 20rem;
    }

    @media #{$mobile} {
        right: auto;
        top: auto;
        bottom: calc(100vh - 100vw + 2rem);
        left: 2rem;
    }

    &__top {
        text-transform: uppercase;
        white-space: nowrap;

        @media #{$tablet} {
            white-space: normal;
        }

        i {
            line-height: 1.5rem;
            margin-right: 1rem;
            vertical-align: top;

            @media #{$tablet} {
                display: none;
            }
        }
    }

    &__bottom {
        max-width: 20rem;
        padding-left: 2rem;
        max-height: 0rem;
        overflow: hidden;
        @include transition(max-height 0.5s);

        @media #{$tablet} {
            padding-left: 0rem;
        }
    }

    &:hover {
        background-color: rgba($color-black, 0.5);
        @include transition(all 0.5s);

        .header-banner__bottom {
            max-height: 40rem;
            @include transition(max-height 0.5s);
        }
    }
}