@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin placeholder() {
    input::-webkit-input-placeholder {
        @content
    }
    input:-moz-placeholder {
        @content
    }
    input::-moz-placeholder {
        @content
    }
    input:-ms-input-placeholder {
        @content
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin translate-animated($x, $y, $time) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
    
    -webkit-transition: -webkit-transform $time;
    -ms-transition: -ms-transform $time;
    transition: transform $time;
    
}

@mixin rotate($deg) {
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin rotate-animated($deg, $time) {
    -webkit-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
    
    -webkit-transition: -webkit-transform $time;
    -ms-transition: -ms-transform $time;
    transition: transform $time;
}

@mixin scale($ratio) {
    -webkit-transform: scale($ratio);
    -moz-transform: scale($ratio);
    -ms-transform: scale($ratio);
    -o-transform: scale($ratio);
    transform: scale($ratio);
}

@mixin translate-scale($x, $y, $ratio) {
    -webkit-transform: translate($x, $y) scale($ratio);
    -ms-transform: translate($x, $y) scale($ratio);
    transform: translate($x, $y) scale($ratio);
}

@mixin scale-animated($ratio, $time) {
    -webkit-transform: scale($ratio);
    -moz-transform: scale($ratio);
    -ms-transform: scale($ratio);
    -o-transform: scale($ratio);
    transform: scale($ratio);

    -webkit-transition: -webkit-transform $time;
    -ms-transition: -ms-transform $time;
    transition: transform $time;
}

@mixin transform-origin($x, $y) {
    -webkit-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    transform-origin: $x $y;
}

@mixin transition($data...) {
    -webkit-transition: $data;
    -ms-transition: $data;
    transition: $data;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
}

@mixin flex-direction($dir) {
    -webkit-flex-direction: $dir;
    -moz-flex-direction: $dir;
    -ms-flex-direction: $dir;   
    flex-direction: $dir;
}

@mixin flex-wrap($val) {
    -webkit-flex-wrap: $val;
    -moz-flex-wrap: $val;
    -ms-flex-wrap: $val;
    flex-wrap: $val;
}

@mixin linear-gradient-b($args...) {
    background-image: -o-linear-gradient($args); 
    background-image: -moz-linear-gradient($args); 
    background-image: -webkit-linear-gradient($args); 
    background-image: linear-gradient($args); 
}

@mixin swipebox(){
    
    #swipebox-overlay{z-index: 100000 !important}

    #swipebox-bottom-bar.visible-bars{
        -webkit-transform: none!important;
        -ms-transform: none!important;
        transform: none!important;
    }
    
    #swipebox-bottom-bar, #swipebox-top-bar{
        height: 50px;
        left: 0;
        position: absolute;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        width: 100%;
        z-index: 999;
    }
  
    #swipebox-bottom-bar{
        height: auto!important;
        top: 50%!important;
        bottom: initial!important;
    }

    #swipebox-arrows{
        max-width: 0 !important;
        width: auto !important;
    }
    #swipebox-bottom-bar, #swipebox-top-bar{
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
        opacity: 1 !important;
    }

    #swipebox-arrows{
        max-width: 0 !important;
        width: auto !important;
        display: block !important;
        height: auto !important;
        margin: 0 !important;
        width: auto !important;
    }

    #swipebox-next{
        background: rgba(0, 0, 0, 0) url("../img/freccia_next.png") no-repeat scroll center center !important;
        float: none !important;
        height: 100px !important;
        position: absolute !important;
        right: 2% !important;
        top: 50% !important;
        -webkit-transform: translate(0px, -50%) !important;
        -ms-transform: translate(0px, -50%) !important;
        transform: translate(0px, -50%) !important;
        width: 100px !important;
    }


    #swipebox-prev{
        background: rgba(0, 0, 0, 0) url("../img/freccia_prev.png") no-repeat scroll center center !important;
        float: none !important;
        height: 100px !important;
        left: 2% !important;
        position: absolute !important;
        top: 50% !important;
        -webkit-transform: translate(0px, -50%) !important;
        -ms-transform: translate(0px, -50%) !important;
        transform: translate(0px, -50%) !important;
        width: 100px !important;
    }
}