h1 {
    @extend .font-h1;
    color: $color-black;
    text-transform: uppercase;
}

h2 {
    @extend .font-h2;
    color: $color-black;
    text-transform: uppercase;
}

h3 {
    @extend .font-h3;
    color: $color-black;
    text-transform: uppercase;
}

.page {
    display: block;
    padding: 8rem 0rem 0rem 0rem;
    
    @media #{$mobile} {
        padding-top: 3rem;
    }
}

.page-block {
    display: block;
    position: relative;

    &__image {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    
    &__parallax {
        position: relative;
        width: 100vw;
        height: 0rem;
        padding-bottom: 50%;
        overflow: hidden; 
        
        img {
            top: 50%;
            left: 0rem;
            position: absolute;
            width: 100vw;
            height: 100%;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            @include translate(0rem, -50%);
        }

        &__cover {
            position: absolute;
            top: 0rem;
            left: 0rem;
            width: 0rem;
            height: 100%;
            overflow: hidden;
            border-right: 1px solid rgba($color-white, 0.5);
            @include transition(all 3s);

            img {
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }
        }

        &.active {
            .page-block__parallax__cover {
                width: calc(100vw + 1px);
                @include transition(all 5s);
            }
        }
    }
}

.page-minigallery {
    padding: 0rem 6rem;

    @media #{$desktop-large} {
        padding: 0rem;
        @include translate(1.25rem, 0rem);
    }

    @media #{$mobile} {
        height: 100vw;
        @include translate(0rem, 0rem);
    }
}

.page-thumb {
    position: relative;
    width: 100%;
    padding-bottom: 68%;
    height: 0rem;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-cover {
    @extend .full-size-abs;
    background-image: url(../img/bg-overlay.png);
    background-position: top left;
    background-repeat: repeat-x;

    h2 {
        position: absolute;
        bottom: 5rem;
        left: 5rem;
        color: $color-white;
        max-width: 50%;

        @media #{$mobile} {
            bottom: 2.5rem;
            left: 2.5rem;
        }
    }
}

.page-slider-nav {
    position: absolute;
    bottom: 5rem;
    right: 5rem;

    @media #{$mobile} {
        bottom: 2.5rem;
        right: 2.5rem;
    }

    ul {
        list-style-type: none;
        list-style-position: inside;

        li {
            display: inline-block;
            border: none;
            padding: 0rem;

            button {
                width: 2.2rem;
                height: 2.2rem;
                margin-left: 1rem;
                color: transparent;
                border: none;
                background: $color-white;
                cursor: pointer;
            }

            &.slick-active {
                button {
                    background: $color-red;
                }
            }
        }
    }
}

.page-img-text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    & > div {
        width: 65%;
        padding: 8rem;

        @media #{$tablet} {
            padding: 5rem;
        }
        
        &:first-child {
            width: 35%;
            text-align: center;
        }

        .logo {
            width: 100%;
            height: auto;
            max-width: 25rem;
        }
    }
}

.page-offers {
    @extend .row-padding--large;
    border-top: 4rem solid $color-grey-light;

    h2 {
        text-align: center;
    }

    &__slider {
        @extend .row-padding-top--small;
    }
}