/*MEDIA QUERIES*/ 
$max-width: 1350px;
$mobile: "screen and (max-width: 767px)";
$tablet-small: "screen and (max-width: 940px)";
$tablet: "screen and (max-width: 1100px)";
$desktop: "screen and (max-width: 1260px)";
$desktop-large: "screen and (max-width: 1440px)";
$desktop-xlarge: "screen and (max-width: 1680px)";

$font-base: 'EB Garamond', serif;
$font-title: 'EB Garamond', serif;

$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #4c4c4c;
$color-grey-light: #8c8c8c;
$color-grey-xlight: #f2f2f2;
$color-red: #8f0000;

$row-padding-small: 2.5rem;
$row-padding-large: 5rem;

$row-padding-small-mobile: 1.25rem;
$row-padding-large-mobile: 2.5rem;