.header-slider {
    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-slide {
        width: 100%;
        height: 100%;
    }

    .slick-slide {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;    
    }
}

.page-minigallery {
    
    width: 100%;
    height: 100%;

    .slick-list,
    .slick-track,
    .slick-slide {
        width: 100%;
        height: 100%;
    }
}