.font-base {
    font-family: $font-base;
    font-size: 2.4rem;
    line-height: 3.8rem;
    font-weight: 400;

    @media #{$tablet} {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}

.font-small {
    font-family: $font-base;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 400;
}

.font-large {
    font-family: $font-base;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;

    @media #{$mobile} {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.font-fields {
    font-family: $font-base;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.font-menu {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 400;

    @media #{$tablet} {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    @media #{$mobile} {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.font-h1 {
    font-size: 5rem;
    line-height: 5rem;
    font-family: $font-title;
    font-weight: 600;

    @media #{$tablet} {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    @media #{$mobile} {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

.font-h2 {
    font-size: 5rem;
    line-height: 5rem;
    font-family: $font-title;
    font-weight: 600;

    @media #{$tablet} {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    @media #{$mobile} {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

.font-h3 {
    @extend .font-large;
}